.error_pill {
  background-color: var(--red);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  .error_pill {
    background-color: var(--red);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
  }
}
