.favourites__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--element-padding);
}

.favourites {
  padding: 0 var(--content-padding) var(--content-padding);
  flex: 1;
  width: 100%;
  overflow: auto;
}
